<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.unicamp.ft.a213281_j199617.conoli">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo_conoli"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo_conoli"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".cadastro_imovel" />
        <activity android:name=".checar_sms" />
        <activity android:name=".verifysms" />
        <activity android:name=".login" />
        <activity android:name=".ui.Login" />
        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".navigationDrawer"
            android:label="@string/title_activity_navigation_drawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <service
        android:name=".java.MyFirebaseMessagingService"
        android:exported="false">
        <intent-filter>
            <action android:name="com.google.firebase.MESSAGING_EVENT" />
        </intent-filter>
    </service>
</manifest>